<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card bg-success mx-5">
        <div class="card-header">
          <h2>Inscripción</h2>
        </div>
      </div>
      <div class="card-body">
    <div class="bg-body border p-1 mx-5">
    <form class = "bg-outline-primary ">
        <div class="form-group col-5 p-3">
          <label for="codeInput">Código del Estudiante</label>
          <input type="code" class="form-control" id="codeInput" placeholder="Nombre materia" required data-error="Por favor, ingrese el codigo">
        </div>
        <div class="form-group p-3 col-5">
          <label for="nombreMateriaInput">Nombre Materia</label>
          <div class="container">
            <select class="form-select" required >
              <option *ngFor="let item of inspectionList" [value]="item.subjectName">{{ item.subjectName }}</option>
            </select>
          </div>
        </div>
        <div>
          La fecha actual es: {{ fechaActual}}
        </div>

          <div>
            <button type="submit" class="btn btn-success mx-3">Inscribir</button>
          </div>

      </form>
    </div>
</div>
</body>
</html>
